{% extends 'base.html' %}

{% block title %}Авторизация{% endblock title %}

{% block content %}
    <div class="container-fluid d-flex h-100 justify-content-center rounded-3 position-absolute align-items-center v-align p-0">
        <div class="row bg-white shadow-sm rounded-3">
            <div class="col border rounded-3 p-4">
                <h3 class="text-center mb-4">LiteCRM</h3>
                <form method="post" action="{% url 'login' %}" class="text-center">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <div class="m-2">
                        <button type="submit" class="btn btn-primary w-50" value="login">Войти</button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock content %}
